.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.retro-header {
  font-family: 'MS Sans Serif', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px #ffffff, -1px -1px #808080;
}

